language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

install:
  - pip install -r requirements.txt
  - pip install coveralls

script:
  coverage run --source=statsy manage.py test

after_success:
  coveralls
