include LICENSE
include README.md
include MANIFEST.in
include setup.py
recursive-include statsy/static *
recursive-include statsy/templates *
recursive-include statsy/templatetags *
recursive-include statsy/migrations *
