.statsy__header__today_count {
    font-size: 18px;
    vertical-align: top;
}


.statsy__last_stats {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.statsy__last_stats table {
    margin-top: 20px;
    text-align: left;
}

.statsy__last_stats__header {
    font-size: 18px;

}

.statsy__group_period, .statsy__event_period {
    margin: 0 20px 30px 0;
    float: right;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
}

.statsy__chart_container {
    margin-bottom: 40px;
}

.statsy__chart {
    padding: 40px 20px 20px 20px;
    margin-bottom: 30px;
}

.statsy__group_list, .statsy__event_list {
    margin-right: 20px;
    line-height: 50px;
}

.statsy__group, .statsy__event {
    display: inline;
    margin-left: 10px;
}

#dahboardGroupContainer {
    min-width: 310px; height: 400px; margin: 0 auto;
}

#dahboardEventContainer {
    min-width: 310px; height: 400px; margin: 0 auto;
}

.footer {
    margin: 20px 0 10px 0;
    text-align: center;
}

.statsy__custom_category {
    margin-bottom: 30px;
}
