{% extends 'statsy/base.html' %}

{% load static from staticfiles %}

{% block script %}
    <script src="{% static 'statsy/app/js/dashboard.js' %}"></script>
{% endblock %}

{% block title %}
    Statsy | Dashboard
{% endblock %}

{% block content %}
    <h1>Overview <span class='statsy__header__today_count'>{{ today_count }} stats today</span></h1>

    <div class="statsy__chart">
        <div id="dashboardTodayContainer" data-url="{% url 'statsy.today' %}" data-title="Stats count for today"></div>
    </div>

    <div class="row">
        <div class="statsy__group_list">
            Groups:
            {% for group in groups %}
                <div class="statsy__group">
                    <a href="#">{{ group }}</a>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="row">
        <div class="statsy__last_stats">
            <table class="table table-hover">
                <thead>
                    <span class="statsy__last_stats__header">Most recent stats</span>
                    <th>Group</th>
                    <th>Event</th>
                    <th>Label</th>
                    <th>Value</th>
                    <th>Time</th>
                </thead>
                <tbody>
                    {% for stats in last_stats %}
                        <tr>

                            <td>{{ stats.group }}</td>
                            <td>{{ stats.event }}</td>
                            <td>{% if stats.label %}{{ stats.label }}{% endif %}</td>
                            <td>{% if stats.value %}{{ stats.value }}{% endif %}</td>
                            <td>{{ stats.created_at|date:"H:i:s" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <td colspan="4">...</td>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
