{% load static from staticfiles %}
{% load statsy %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'statsy/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'statsy/libs/jquery/js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'statsy/libs/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'example/js/example.js' %}"></script>

  {% statsy %}
  </head>
  <body>
    <div class="container">
        <h2><a href="/">Home</a></h2>
        <div class="col-md-offset-4">
            {% block content %}{% endblock %}
        </div>
    </div>
  </body>
</html>
